form {
  /* Center form */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


/* Legend

> - the child combinator
+ - the adjacent sibling combinator
~ - the general sibling combinator */

/* Selecting every single div with a descendant combinator */

/* main div {

} */

/* Child combinator in effect ( > ) */

/* main > div {
  Select all child 'class' of div within main
}

main > div > div {
  Basically selecting the grand-children of main
  or all the children of main's children with a 'class' of div
}

Adjacent selector ( + ) will select neighbors of the element we target

.group1 + div {
  Selects group1 by class name and any adjacent element or adjacent sibling, so group2
}

.group + div + div {
  Here we move or skip a neighbor and jump from group2 over to group3 starting from group1
  group3 is an adjacent of group1's adjacent which is what we were looking for
}

General sibling combinator ( ~ )

.group1 ~ div {
  Selects all siblings / neighbors of class name div group1
} */